/* AboutPage.css */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');
html, body{
  background-color: #18181c;
  margin: 0;
  padding:0;
  height: 100%;
}

.parent-container{
  background-color: #18181c;
  min-height: 200vh;

  align-items: center;
  justify-content: center;
}

.about-container {
    background-color: #18181c;
    display: flex;
    color: white;
  }

  @media (min-width: 601px) and (max-width: 1024px) { /* Medium screens */
    .about-container {
      grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
      grid-template-rows: auto auto; /* Two rows for medium screens */
    }
    
    .work-experience {
      grid-column: span 2; /* Work experience spans two columns on medium screens */
    }
  }
  
  @media (max-width: 600px) { /* Small screens */
    .about-container {
      grid-template-columns: 1fr; /* One column for small screens */
    }
  }

  .image-text-container {
    flex: 1; /* Take up the remaining space */
    min-width: 250px; /* Adjust as needed */
  }
  
  

  .skills{
    font-size: 18px;
    margin-bottom: 40px;
    color:#b1b1b1;
  }

  .text-container{
    display: flex;
    grid-column: 2 / 3;
    height: 100%;
    margin-top: 60px;
  }

  .skills-text {
    font-family: 'Roslindale';
    color: rgb(209, 209, 209); 
    font-size: 40px;
    text-align: center; 
    grid-column: 1 / -1;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .skills-text2 {
    font-family: 'Roslindale';
    color: rgb(180, 180, 180); 
    font-size: 25px;
    text-align: center; 
    grid-column: 1 / -1;
    margin-bottom: 10px;
  }

  .underline{
    text-decoration: underline;
  }

  @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .image-text-container, .work-experience {
      flex: 100%; /* Stack on smaller screens */
    }
  }
  
  .image-container {
    display: flex;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
  }
  
  
.image-container img {
    opacity: 0.8;
    width: 50%;
    min-width: 250px;
    height: auto;
    transform: scale(0.9); /* Start at half the original size */
    animation: float 3s ease-in-out infinite;
    filter: blur(0.7px);
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  

  .image-text-container {
    position: relative;
  }
  
  @keyframes growIn {
    to {
      transform: scale(1);
      opacity: 0.6;
    }
  }
  
  
.overlay-text {
  display: flex;
  font-size: 50px;
  text-align: center;
  font-family: 'Roslindale';
  color: rgb(255, 255, 255);
  animation: textGrow 2s ease-in forwards;
  opacity: 0;
  margin-top: 5%;
  margin-right: 30%;
}

.skills-section{
  margin-top: 5%;
}

  @keyframes textGrow {
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1300px) {
    .overlay-text {
      font-size: 25px; /* Adjust as needed */
    }
  }

  @media (max-width: 768px) {
    .overlay-text {
      font-size: 20px; /* Adjust as needed */
    }
  }

  @media (max-width: 480px) {
    .overlay-text {
      font-size: 13px; /* Adjust as needed */
    }
  }

  @media (max-width: 300px) {
    .overlay-text {
      font-size: 12px; /* Adjust as needed */
    }
  }


  .work-experience {
    text-align: center;
    font-family: 'Roslindale';
    color: rgb(255, 255, 255);
    animation: textGrow 2s ease-in forwards;
    opacity: 0;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-title {
    font-size: 60px;
    text-decoration: underline;
    float: none;
  }
  
  .experience-item {
    margin-bottom: 20px;
    float: none;
  }
  
  .position-title {
    font-size: 32px;
    margin-block: 5px;
  }
  
  .company-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo and the company name horizontally */
    margin-bottom: 10px; /* Space below the company container */
  }
  
  .company-logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .company-name {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .date{
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 20px;
    color:#dbdbdb;
    margin-bottom: 5px;
  }


  