/* LandingPage.css */
.landing-container {
    font-family: 'Roslindale', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .small-text {
    font-size: 24px;
  }
  
  .name-text1 {
    font-size: 148px;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
    position: relative;
    overflow: hidden;
  }

  .name-text2 {
    font-size: 148px;
    color: black;
    -webkit-text-stroke: 1.5px black;
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .name-text1 {
      font-size: 96px; /* Adjust as needed */
    }
  }

  @media (max-width: 480px) {
    .name-text1 {
      font-size: 64px; /* Adjust as needed */
    }
  }

  @media (max-width: 300px) {
    .name-text1 {
      font-size: 45px; /* Adjust as needed */
    }
  }

  @media (max-width: 768px) {
    .name-text2 {
      font-size: 96px; /* Adjust as needed */
    }
  }

  @media (max-width: 480px) {
    .name-text2 {
      font-size: 64px; /* Adjust as needed */
    }
  }

  @media (max-width: 300px) {
    .name-text2 {
      font-size: 45px; /* Adjust as needed */
    }
  }
  
  .name-text1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    animation: fillIn 2s forwards;
    animation-delay: 1s;
  }

  .name-text2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #fff8ed;
    white-space: nowrap;
    overflow: hidden;
    animation: fillIn 2s forwards;
    animation-delay: 1s;
  }
  
  @keyframes fillIn {
    to {
      width: 100%;
    }
  }

  /* LandingPage.css */
.about-me-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roslindale', sans-serif;
  font-size: 32px;
  text-decoration: underline;
  color: black;
  -webkit-text-stroke: 1px black;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 300px) {
  .about-me-button {
    font-size: 24px; /* Adjust as needed */
  }
}


.about-me-button:hover {
  transform: translateY(5px);
}

  