@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');
html, body{
  background-color: #18181c;
  margin: 0;
  padding:0;
  height: 2vh;
}

.project-collection{
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  gap: 8rem;
  align-items: start;
  justify-content: center;
  margin-top: 5%;
}

/* Medium screens (less than 1000px) */
@media (max-width: 1000px) {
  .project-collection {
    grid-template-columns: auto; /* Single column layout for medium screens */
    gap: 6rem;
  }
}

/* Small screens (less than 600px) */
@media (max-width: 600px) {
  .project-collection {
    grid-template-columns: auto; /* Single column layout for small screens */
    gap: 4rem;
  }
}
